.html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.h-100vh {
    height: 100vh;
}

.Saira {
    font-family: 'Saira Semi Condensed', sans-serif;
}

.Roboto {
    font-family: 'Roboto', sans-serif;
}

.txt-type01 {
    font-size: 0.8em;
}

.txt-type02 {
    font-size: 0.9em;
}

.txt-type03 {
    font-size: 1.1em;
}

.txt-type04 {
    font-size: 1.2em;
}

.txt-type05 {
    font-size: 1.4em;
}

.txt-type06 {
    font-size: 2em;
}

.txt-type07 {
    font-size: 3em;
}

.txt-type08 {
    font-size: 4em;
}

.txt-type09 {
    font-size: 6em;
}

.font-space01 {
    letter-spacing: 4px;
}

.font-space02 {
    letter-spacing: 2px;
}

.color01 {
    color: #172635;
}

.color02 {
    color: #000000;
}

.color03 {
    color: #FFFFFF;
}

.color04 {
    color: #132130;
}

.color05 {
    color: #e0004b;
}

.color06 {
    color: #d1cbcb;
}

.bg-color01 {
    background-color: #000000;
}

.bg-color02 {
    background-color: #FFFFFF;
}

.bg-color03 {
    background-color: #e0004b;
}

.bg-color04 {
    background-color: #172635;
}

.bg-shadow {
    background-color: rgba(20,20,20, 0.06);
}

.bg-shadow-20 {
    background-color: rgba(0,0,0, 0.2);
}

.bg-shadow-40 {
    background-color: rgba(0,0,0, 0.4);
}

.bg-img {
    background-image: url("../Imagens/Fundo Index.jpg");
    background-color: #e0004b;
}

/* Menu */
#Menu {
    background-color: #fafafa;
}

.logo-nav {
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.nav-link:hover {
    color: #e0004b;
}

.nav-active {
    color: #e0004b;
    font-weight: 600;
}
/*  */
.zoom-in {
    opacity: 0;
    animation: Zoom-in 1s ease forwards;
    animation-delay: 0.2s;
}

.hoverzoom {
    position: relative;
    overflow: hidden;
}

.bg-img {
    background-size: contain;
    -webkit-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
}

.hoverzoom:hover .bg-img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.retina{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;    
    background: none repeat scroll 0 0 rgba(23,38,53, 0.5);
    -webkit-transition:	 all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000);
    transition: all .8s cubic-bezier(.190, 1.000, .220, 1.000); 
}

.hoverzoom:hover .retina {
    opacity: 1;
    box-shadow: inset 0 0 60px 40px rgba(23,38,53,.2);
}

.location-hover {
    position: relative;
    top: 50%;
}

.btn-paginacao {
    color: #ffffff;
}

.btn-paginacao:hover {
    color: #e0004b;
}

.btn-modelo01 {
    color: #ffffff;
    background-color: #172635;
    border-color: transparent;
}

.btn-modelo01:hover {
    color: #ffffff;
    background-color: #e0004b;
    border-color: #e0004b;
    box-shadow: 0 0 15px rgba(0,0,0, 0.4);
    transition: all 0.3 ease-in;
}

.btn-modelo02 {
    color: #ffffff;
    background-color: #e0004b;
    border-color: transparent;
}

.btn-modelo02:hover {
    color: #ffffff;
    background-color: #172635;
    border-color: #172635;
    box-shadow: 0 0 15px rgba(0,0,0, 0.4);
    transition: all 0.3 ease-in;
}

.btn-outline-modelo01 {
    color: #172635;
    background-color: transparent;
    border-bottom: 3px solid #172635;
    transition: all 0.3 ease-in-out;
    text-decoration: none;
}

.btn-outline-modelo01:hover {
    color: #ffffff;
    background-color: #e0004b;
    border-bottom: 3px solid #e0004b;
}

.btn-outline-modelo02 {
    color: #FFFFFF;
    background-color: transparent;
    border-bottom: 3px solid #FFFFFF;
    transition: all 0.3 ease-in-out;
    text-decoration: none;
}

.btn-outline-modelo02:hover {
    color: #ffffff;
    background-color: #121e28;
    border-bottom: 3px solid #121e28;
}

.btn-outline-modelo03 {
    color: #172635;
    background-color: transparent;
    border: 2px solid #172635;
    transition: all 0.3 ease-in-out;
    text-decoration: none;
}

.btn-outline-modelo03:hover {
    color: #ffffff;
    background-color: #e0004b;
    border: 2px solid #e0004b;
}

.btn-outline-modelo04 {
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    transition: all 0.3 ease-in-out;
    text-decoration: none;
}

.btn-outline-modelo04:hover {
    color: #ffffff;
    background-color: #e0004b;
    border: 2px solid #e0004b;
}

.link-projeto {
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.link-projeto:hover {
    box-shadow: #000000;
}

.soft-box {
    box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
	transition: width .2s ease-in-out,margin .2s ease-in-out,transform .2s ease,-webkit-transform .2s ease;
}

.soft-box:hover {
    box-shadow: 0px 4px 30px rgb(0 0 0 / 30%);
	position: relative;
	transform: translateY(-10px);
}

/* Linguagem da pagina */
.mod-languages .lang-inline .li-lang {
    display: inline-block;
    opacity: .7;
    transition: filter 0.3 ease-in;
    -webkit-transition: filter 0.3 ease-in;
    -moz-transition: filter 0.3 ease-in;
    -ms-transition: filter 0.3 ease-in;
    -o-transition: filter 0.3 ease-in;
    filter: grayscale(1);
}

.mod-languages .lang-inline .lang-active {
    transition: filter 0.3 ease-in;
    -webkit-transition: filter 0.3 ease-in;
    -moz-transition: filter 0.3 ease-in;
    -ms-transition: filter 0.3 ease-in;
    -o-transition: filter 0.3 ease-in;
    filter: grayscale(0);
    opacity: 1;
}

.mod-languages .lang-inline .li-lang a img {
    display: block;
    width: auto;
    height: 24px;
}

/* Modo dark/Light */
/* ----- Novo Switch ----- */
.toogleSwitch {
    background-color: #172635;
    border-radius: 50%;
    border: none;
    padding: 6px;
    height: 36px;
    width: 36px;
    /* position: relative; */
}

.iconewitch {
    position: relative;
    font-size: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.icon-sun {
    display: none;
    color: #172635;
}

.icon-moon {
    display: block;
    color: #FFFFFF;
}

/* -- dark Mode -- */
.bodyDark {
    background-color: #0b121a;
}

.menuDark {
    background-color: rgba(0,0,0, 0.2);
}

/* -----  Projetos Slider  ----- */
#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3 {
    box-shadow: 0 15px 20px rgba(0,0,0, 0.3);
    transform: translate3d(-50%, 0, -120px);
    --current-color1: #eceaed;
    --current-color2: #404457;
}


#s1:checked~.cards #slide3,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2 {
    box-shadow: 0 25px 40px rgba(0,0,0, 0.5);
    transform: translate3d(0, 0, 0);
    --current-color1: #fad00c;
    --current-color2: #eceaed;
}


#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide1 {
    box-shadow: 0 15px 20px rgba(0,0,0, 0.3);
    transform: translate3d(50%, 0, -120px);
    --current-color1: #eceaed;
    --current-color2: #404457;
}

#container-cards {
    width: 100%;
    height: 600px;
    flex-direction: column;
    margin-bottom: 40px;
}

.cards {
    position: relative;
    height: 600px;
    width: 100%;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.label-slide {
    position: absolute;
    width: 400px;
    max-width: 400px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.cards .card {
    position: relative;
    background-color: #323444;
    transition: all 0.4s ease-in-out;
}

.cards .image .img-image {
    width: 95%;
    box-shadow: 7px 7px 20px rgba(0,0,0, 0.6);
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.cards .image .img-image:hover {
    transform: scale(1.05);
}

/* ----- Projetos ----- */
.icon-scale {
    font-size: 3em;
}

/* Contato */
#Contato {
    position: relative;
    top: -80px;
}

.icon-size01 {
    font-size: 16px;
}

.icon-size02 {
    font-size: 22px;
}

.icon-size03 {
    font-size: 28px;
}

.icon-size04 {
    font-size: 34px;
}

.decoration-none {
    text-decoration: none;
}

.contato-bkgd {
    background: url(../Imagens/ContatoBackground.jpg);
    background-repeat: repeat-y;
    background-position: right top;
    background-attachment: scroll;
}

.circle-icon {
    width: 50px;
    height: 50px;
    padding: 12px;
}

/* Introdução */
.text-effect {
    color: transparent;
    -webkit-text-stroke: 1px #e0004b;
    background: url(../Imagens/TextEffect.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: Back 20s linear infinite;
}

.img-projetos {
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.6s;
}

.servico {
    height: auto;
    min-height: 240px;
}

/* footer */
footer {
    border-top: 1px solid #121e28;
}

.link-social-media {
    color: #FFFFFF;
    font-size: 22px;
}

.link-social-media:hover {
    color: #e0004b;
}

/* ----- Novo cookies ----- */
#Cookies {
    width: 400px;
    height: auto;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1;
    display: none;
}

.cookies {}
#cookies-btn {}


/* KEYFRAMES ANIMATION */
@keyframes slideTop {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes Zoom-in {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes Back {
    100% {
        background-position: 2000px 0;
    }
}