.Prompt {
    font-family: 'Prompt', sans-serif;
}

.Mohave {
    font-family: 'Mohave', sans-serif;
}

.color01 {
	color: #16151b;
}

.color02 {
    color: #111015;
}

.color03 {
    color: #e7e7e7;
}

.color04 {
    color: #f49f22;
}

.bg-black-20 {
    background-color: rgba(0, 0, 0, .2)
}

.bgcolor01 {
	background-color: #16151b;
}

.bgcolor02 {
	background-color: #111015;
}

.bgcolor03 {
	background-color: #e7e7e7;
}

.bgcolor04 {
	background-color: #f49f22;
}

.bg-dark-20 {
	background-color: rgba(0, 0, 0, .2);
}

.bg-dark-50 {
	background-color: rgba(0, 0, 0, .5);
}

.bg-dark-70 {
	background-color: rgba(0, 0, 0, .7);
}

.txt-size01 {
    font-size: 0.8em;
}

.txt-size02 {
    font-size: 0.9em;
}

.txt-size03 {
    font-size: 1.1em;
}

.txt-size04 {
    font-size: 1.2em;
}

.txt-size05 {
    font-size: 1.4em;
}

.txt-size06 {
    font-size: 2em;
}

.txt-size07 {
    font-size: 3em;
}

.txt-size08 {
    font-size: 6em;
}

.txt-size09 {
    font-size: 8em;
}

.font-bold {
    font-weight: 800;
}

.text-shadow {
	text-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
}

.list-none {
    list-style-type: none;
}

.border-box {
    box-sizing: border-box;
}

.Vh-50 {
    height: 50vh;
}

.Vh-100 {
    height: 100vh;
}

.decoration-none {
    text-decoration: none;
}

.text-shadow {
    text-shadow: 2px 2px 8px #000000;
}

/* Menu */
#Menu {
    height: auto;
}

#logotipo-nav {
    width: 140px;
    height: auto;
}

.nav-link {
    padding: 4px 8px!important;
}

/* Inicio */
#carrousel01 {
    background-image: url("../Imagens/SABanner01.jpg");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    max-height: 500px;
}

#textoInicio {
    width: 50%;
}

/* Frase de efeito */
#fraseEfeito {
    background-image: url("../Imagens/SA_Pattern.jpg");
    background-clip: border-box;
    background-repeat: repeat;
    background-size: 100%;
    background-position: left top;
}

/* Produto */
#Produto {
    background-image: url("../Imagens/ImgPreco.jpg");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    max-height: 500px;
    width: 100%;
}

/* Informações técnicas */
#Detalhes {
    background-image: url("../Imagens/");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: auto;
}

.specsSize {
    min-height: 280px;
    max-height: 340px;
}

/* BTN Call to Action */
#compreAgora {
    /* background-image: url("../Imagens/CompreJa_Img.jpg"); */
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* Grid */
.grid-container {
    display: grid;
    height: auto;
    align-content: center;
    gap: 20px;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}

.item1 {
    grid-column: 1 / 2;
    grid-row: 1;
}

.item2 {
    grid-column: 2 / 3;
    grid-row: 1;
}

.item3 {
    grid-column: 3 / 4;
    grid-row: 1;
}

.gridBase {
    width: 100%;
    height: auto;
    background-image: url("../Imagens/Grid01.jpg");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

/* separa */
.container-box {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 290px;
    background-color: #16151b;
}

.overlayFade {
    position: absolute;
    transition: all 0.3s ease;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 0;
    right: 0;
    left: 0;
    bottom: 100%;
    opacity: 0;
    cursor: pointer;
}

.container-box:hover .overlayFade {
    bottom: 0;
    height: 100%;
    opacity: 1;
}

/* Buttons */
.btn-outline-01 {
    color: #e7e7e7;
    background-color: transparent;
    border: 2px solid #e7e7e7;
}

.btn-outline-01:hover {
    color: #111015;
    background-color: #f49f22;
    border: 2px solid #c98219;
}

.btn-modelo-01 {
    color: #111015;
    background-color: transparent;
    border: 2px solid #111015;
}

.btn-modelo-01:hover {
    color: #111015;
    background-color: #f49f22;
    border: 2px solid #c98219;
}

/* footer */
.footer-link:hover {
    color: #f49f22;
    transition: color 0.3s ease-in;
}

.icon-media {
    color: white;
    transition: all 0.3 ease-in;
}

.icon-media:hover {
    color: #f49f22;
}